{% extends 'layout.html.twig' %}
{% set active = 'home' %}

{% block content %}

    <div class="col-lg-12 title">
        Team Manager
    </div>

    <div class="col-lg-12 subtitle">
        Click <a href="/teammanager/web/teams">here</a> to manage your team(s)
        <br />Click <a href="/teammanager/web/teammates">here</a> to manage your teammate(s)
    </div>

    <div class="col-lg-12 statistics">
        {{ teamsCount }} team(s)
        <br />{{ teammatesCount }} teammate(s)
    </div>

{% endblock %}
