/* -------------
    HTML Components
   ------------- */
body {
  font-family: 'Open Sans', sans-serif;
    background-color: #EFEFEF;
}

a:hover {
  text-decoration: none;
}

/* -------------
    Navbar
   ------------- */
.navbar {
  background-color: #FFFFFF;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: #333333;
}

.navbar li {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar li.active {
  border-top: 3px solid #38578C;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #38578C;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #38578C;
  background-color: transparent;
}

.navbar li a {
  user-select: none;
  position: relative;
}

/* -------------
    Page
   ------------- */
.page-title {
    text-align: left;
    font-size: 2em;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
}

.page-action-bar {
    text-align: right;
    font-size: 2em;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
}

/* -------------
    Cards
   ------------- */
.card {
    padding: 10px;
    margin: 20px;
    background: #fff;
    border: 1px solid #f0f0f0;
}

.card .name{
    font-size: 1.5em;
    font-weight: bold;
}
.card .btn-actions {
    text-align: right;
}

.title {
    text-align: center;
    font-size: 2em;
}

.subtitle {
    text-align: center;
    font-size: 2em;
    font-style: italic;
}

.team-teammates-title {
    text-align: right;
    font-weight: bold;
}

.team-teammates {
    text-align: right;
    font-style: italic;
}


/* Will be useful if avatars are handled... */
.img-rounded {
    border-radius: 50% !important;
}