{% extends 'layout.html.twig' %}
{% set active = 'teammates' %}

{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}

{% block content %}

    <div class="container-fluid">

        <div class="col-lg-12 page-action-bar page-title">
            Teammate Form
        </div>

        <br />

        <div class="col-lg-6">
            <form action="#" method="post">
                {{ form_widget(form) }}
                {{ form_widget(form.submit) }}
            </form>
        </div>
    </div>


{% endblock %}